<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper bgded overlay" style="margin: 0 auto; max-width: 100%; height: 800px; background-image:url('images/demo/backgrounds/main2.jpg');">
  <div id="pageintro" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <article>
      <h2>우리 농활 갈래? 어디서?</h2><br>
      <p>지금 농활정보를 검색하세요!</p>
      
      <footer>
        <img src="images/map/map00.gif" usemap="#storeMap" alt="대한민국 지도" class="mt80" id="map">
			<!-- 지도 map -->
			<map name="storeMap" id="storeMap">
			<area shape="poly" onmouseover="changeImg('images/map/map01.gif')" onmouseout="changeImg('images/map/map00.gif')" coords="102,97,107,97,110,97,110,94,109,92,112,92,114,92,115,89,115,87,120,86,122,87,125,90,125,93,126,96,128,98,129,100,128,104,124,108,121,110,119,110,116,108,115,108,112,108,107,106,106,105,105,101,102,97" href="posts#index" class="area01 " alt="서울">
			<area shape="poly" onmouseover="changeImg('images/map/map02.gif')" onmouseout="changeImg('images/map/map00.gif')" coords="201,21,200,29,199,35,197,36,193,33,186,32,185,36,185,42,176,44,164,44,156,43,154,39,153,39,149,39,146,42,140,43,136,40,131,40,127,45,128,49,134,55,141,57,147,63,150,65,152,70,153,75,149,81,148,84,149,88,152,93,155,95,165,97,167,100,166,102,164,107,166,109,166,112,165,116,165,122,165,129,169,132,172,132,175,129,177,124,179,122,180,125,184,128,186,126,190,124,195,124,199,128,199,130,202,131,205,132,209,133,212,134,219,138,223,136,232,135,235,137,243,136,247,135,254,135,258,135,263,129,266,126,265,123,264,116,263,112,258,109,254,106,251,103,250,95,246,93,246,92,246,86,245,85,241,82,237,78,235,76,233,72,230,65,225,60,223,56,219,53,219,49,219,47,216,41,215,40,213,37,210,33,210,28,209,24,206,22,200,21" href="posts#index" class="area02 " alt="강원">
			<area shape="poly" onmouseover="changeImg('images/map/map03.gif')" onmouseout="changeImg('images/map/map00.gif')" coords="89,82,92,82,95,82,96,81,96,78,98,76,99,76,101,74,99,71,97,71,97,67,102,66,104,66,106,66,107,63,108,61,109,58,107,56,104,56,102,54,105,53,109,53,109,49,109,45,111,47,114,49,116,49,119,46,123,45,125,45,127,49,128,52,130,55,133,56,135,58,139,59,140,59,143,62,146,65,149,67,150,70,150,73,149,78,147,82,147,86,148,90,150,94,152,95,154,96,158,97,161,98,165,99,165,102,164,104,163,107,163,109,164,112,163,114,163,118,163,121,163,124,163,128,163,130,160,132,156,134,151,137,145,140,141,144,138,147,136,149,132,147,130,145,125,145,119,145,115,148,111,149,106,146,103,143,100,141,99,136,98,134,95,132,93,129,94,126,96,124,97,120,98,118,98,116,100,113,102,111,104,109,105,107,108,109,112,110,115,110,117,110,120,112,123,112,126,109,129,105,131,99,129,95,128,90,125,87,122,85,118,84,114,85,113,88,112,90,110,90,108,90,107,94,105,95,102,95,100,96,97,94,94,93,92,96,90,97,87,96,88,93,89,92,86,89,86,87,88,85,89,82" href="?location=경기" class="area03 " alt="경기">
			<area shape="poly" onmouseover="changeImg('images/map/map04.gif')" onmouseout="changeImg('images/map/map00.gif')" coords="138,150,139,148,142,145,145,143,147,141,151,139,156,137,160,134,163,132,167,132,168,133,171,134,175,132,177,128,179,126,180,127,183,129,188,129,190,127,193,125,195,127,197,130,199,131,201,133,204,133,206,133,209,135,212,136,214,137,216,139,215,142,213,144,210,146,209,148,208,152,208,155,207,158,206,159,202,158,200,157,198,155,195,154,192,154,190,156,188,158,187,159,185,161,184,162,181,164,178,167,175,168,173,170,173,173,171,173,172,176,174,178,175,180,175,182,175,184,173,187,173,188,173,190,173,192,172,193,171,194,171,196,175,199,176,199,179,199,182,201,183,202,183,203,183,205,180,206,179,208,178,211,178,213,177,215,176,217,173,219,171,219,166,220,164,220,163,219,160,217,157,217,157,216,157,213,157,211,155,205,154,203,150,201,148,200,148,198,150,195,151,192,152,187,150,185,147,184,145,183,144,183,142,180,142,179,140,176,138,174,137,171,137,170,136,165,136,162,139,162,142,162,145,161,144,157,144,156,141,154,140,153,138,152,137,150" href="?location=충북" class="area04 " alt="충북">
			<area shape="poly" onmouseover="changeImg('images/map/map05.gif')" onmouseout="changeImg('images/map/map00.gif')" coords="141,184,144,184,146,185,148,186,150,188,150,190,149,193,148,196,147,198,147,202,147,205,145,205,142,204,140,204,137,203,135,201,133,198,133,193,132,190,134,187,137,186,139,186,140,184" href="?location=대전" class="area05 " alt="대전">
			<area shape="poly" onmouseover="changeImg('images/map/map06.gif')" onmouseout="changeImg('images/map/map00.gif')" coords="69,79,71,79,73,79,74,78,77,77,79,76,82,76,85,78,87,79,87,82,86,84,85,86,84,88,84,90,85,92,85,94,85,96,87,98,89,99,90,99,91,98,93,96,95,95,97,95,99,97,101,99,103,100,103,102,103,105,102,106,101,109,99,111,97,111,96,111,93,109,91,108,89,107,88,109,85,109,82,109,81,111,80,112,78,110,77,109,74,107,74,104,73,101,73,98,72,95,69,94,66,92,63,92,61,91,62,87,64,84,65,84,67,83,68,81,69,79" href="?location=인천" class="area06 " alt="인천">
			<area shape="poly" onmouseover="changeImg('images/map/map07.gif')" onmouseout="changeImg('images/map/map00.gif')" coords="100,143,102,145,103,146,104,147,109,150,110,150,113,150,114,150,116,148,118,148,121,147,123,146,126,146,129,147,131,148,133,149,134,149,135,150,137,152,138,153,139,154,143,157,143,158,143,160,143,161,142,161,139,161,137,162,136,163,135,163,134,165,134,167,134,169,136,173,138,175,139,178,140,179,141,181,141,182,140,184,137,185,134,186,132,189,131,190,131,192,131,195,133,199,134,202,136,204,139,205,141,205,143,206,145,206,148,206,148,205,148,202,150,202,153,203,153,206,155,207,155,208,156,210,156,212,156,214,156,216,156,218,156,220,154,222,152,222,149,221,146,221,145,219,143,218,141,216,140,212,137,211,135,212,133,212,130,214,129,217,126,219,124,219,122,217,121,215,121,214,120,210,119,208,116,206,113,208,112,208,110,212,108,215,105,217,104,219,101,219,99,220,95,220,94,219,94,217,94,216,92,213,89,212,88,211,84,208,85,205,87,204,88,202,89,199,87,196,85,193,77,191,74,190,72,187,72,184,72,180,73,178,74,175,73,174,72,174,70,172,70,170,67,168,65,170,62,169,61,167,61,164,61,161,61,158,63,155,66,151,67,149,71,146,72,142,75,141,77,140,79,138,83,138,87,138,91,139,93,141,94,142,95,143,96,145,99,143" href="?location=충남" class="area07 " alt="충남">
			<area shape="poly" onmouseover="changeImg('images/map/map08.gif')" onmouseout="changeImg('images/map/map00.gif')" coords="264,129,266,131,266,133,268,135,269,136,270,138,270,141,270,145,269,147,269,152,271,154,272,156,273,157,273,161,273,163,272,167,271,169,270,170,270,174,269,178,269,181,269,184,269,186,268,188,267,191,267,194,266,198,266,203,267,206,268,207,270,210,270,214,270,217,272,217,274,216,274,213,276,213,279,213,282,216,282,219,281,222,279,225,279,228,279,231,279,234,279,236,278,237,277,239,276,242,276,245,275,247,273,247,272,247,270,246,269,245,268,245,265,245,263,245,260,243,258,242,256,242,254,242,252,243,250,244,248,245,247,247,245,248,241,249,238,249,236,250,234,253,232,255,228,254,226,254,222,252,216,248,214,247,214,243,216,242,219,245,220,246,223,243,223,240,224,239,225,235,229,234,232,230,231,226,230,223,229,221,226,218,222,218,217,218,214,219,213,222,213,223,210,225,209,226,207,228,204,230,202,230,202,232,204,234,204,236,205,238,205,240,204,242,203,244,202,244,202,247,203,249,204,250,200,251,198,251,195,250,194,249,194,248,194,246,195,242,192,238,191,237,188,236,187,234,184,232,182,231,180,230,178,229,177,229,176,227,176,225,175,222,174,221,174,220,175,218,178,216,181,211,181,208,183,206,185,204,184,201,183,200,181,198,178,197,177,197,174,196,173,195,173,195,175,191,175,189,176,186,177,182,176,178,174,176,174,174,174,172,175,171,177,169,180,166,181,164,184,162,187,160,189,159,191,157,194,156,195,156,197,157,198,157,200,159,202,160,204,160,206,160,208,159,208,156,208,154,209,151,211,148,214,144,217,140,218,138,224,138,228,137,230,137,231,137,234,138,236,138,239,138,241,138,243,137,245,136,247,136,249,136,252,136,254,137,256,137,260,136,261,133,261,131,264,128" href="?location=경북" class="area08 " alt="경북">
			<area shape="poly" onmouseover="changeImg('images/map/map09.gif')" onmouseout="changeImg('images/map/map00.gif')" coords="204,250,203,247,203,246,205,244,207,242,207,239,206,236,205,235,204,232,204,231,205,230,207,229,208,228,210,227,211,226,213,226,214,224,215,223,216,221,218,220,220,219,223,219,224,219,226,219,226,220,227,222,228,224,229,225,230,227,230,228,230,230,229,232,228,234,226,235,224,237,223,239,222,241,222,243,220,244,219,244,218,244,216,242,215,241,213,244,213,245,213,248,212,248,210,249,207,249,204,250" href="?location=대구" class="area09 " alt="대구">
			<area shape="poly" onmouseover="changeImg('images/map/map10.gif')" onmouseout="changeImg('images/map/map00.gif')" coords="89,222,91,221,93,222,96,222,99,222,101,222,104,221,106,220,108,218,109,215,111,211,112,209,116,208,118,209,119,211,119,214,120,216,120,218,121,220,125,220,126,220,129,218,131,216,134,213,137,212,139,212,140,215,141,217,142,221,143,222,147,223,149,223,152,223,155,223,157,221,158,219,160,219,161,220,163,221,166,222,167,222,171,221,173,221,175,225,174,228,170,231,167,233,165,234,165,235,161,236,159,237,159,239,158,241,158,242,157,244,157,247,156,249,155,251,154,252,154,253,154,254,155,258,155,259,155,262,157,264,158,266,157,267,155,270,155,273,152,274,151,273,146,272,144,272,142,274,141,276,140,275,138,274,136,274,131,273,129,273,126,274,123,275,123,275,122,272,121,271,120,269,117,267,117,267,115,267,113,265,109,262,107,262,103,262,102,266,98,269,94,272,90,273,87,272,85,270,85,267,82,266,80,266,80,262,79,257,81,256,82,255,83,252,83,250,84,247,86,245,87,244,90,243,92,242,93,238,93,235,93,232,93,229,90,226,88,225,86,224,88,221" href="?location=전북" class="area10 " alt="전북">
			<area shape="poly" onmouseover="changeImg('images/map/map11.gif')" onmouseout="changeImg('images/map/map00.gif')" coords="247,248,249,247,250,246,252,244,254,243,256,242,259,243,260,244,265,247,268,246,270,246,271,248,274,249,275,249,275,251,275,254,275,258,274,260,272,262,271,264,270,267,270,271,266,273,264,273,262,272,259,270,259,269,259,266,258,265,256,265,254,265,253,263,252,262,249,262,248,261,247,259,245,258,245,256,245,254,247,252,247,248" href="?location=울산" class="area11 " alt="울산">
			<area shape="poly" onmouseover="changeImg('images/map/map12.gif')" onmouseout="changeImg('images/map/map00.gif')" coords="192,240,193,241,193,244,193,246,193,250,195,251,198,252,200,252,202,252,207,251,209,250,211,250,215,249,217,249,218,251,219,251,219,253,223,254,224,254,226,255,228,256,230,256,233,256,235,256,236,255,237,253,239,251,240,250,243,249,245,249,246,250,245,252,244,254,244,258,245,259,245,260,247,261,249,263,250,263,252,265,254,266,256,267,257,267,257,269,253,271,250,273,248,275,246,277,243,280,241,281,238,282,235,284,235,287,233,291,232,291,228,291,226,290,224,289,220,289,218,290,215,292,213,294,211,298,213,302,214,304,218,305,219,304,220,301,221,299,223,297,226,296,229,296,230,296,231,297,232,299,232,302,231,304,231,306,230,310,231,312,230,317,228,319,224,323,222,323,220,323,216,322,215,322,212,321,210,320,209,319,208,318,207,316,205,313,203,313,199,314,196,314,192,314,190,315,188,316,186,321,186,323,185,324,181,324,178,321,177,320,176,320,173,320,172,320,170,320,170,315,168,310,168,306,168,302,167,297,164,294,162,291,159,288,158,285,158,282,158,279,157,278,153,276,154,276,157,274,156,271,157,271,160,268,159,266,159,264,158,261,157,260,156,256,157,253,157,251,158,248,158,247,159,244,160,241,160,240,162,238,165,237,168,234,170,233,172,232,173,231,174,230,176,230,177,231,179,232,182,233,183,233,184,234,186,234,188,236,188,237,191,239" href="?location=경남" class="area12 " alt="경남">
			<area shape="poly" onmouseover="changeImg('images/map/map13.gif')" onmouseout="changeImg('images/map/map00.gif')" coords="258,270,255,272,253,273,252,274,250,275,249,277,248,279,245,280,243,281,241,282,239,284,237,284,236,287,235,290,234,291,231,292,228,292,223,290,221,289,217,290,214,292,212,295,212,299,212,301,215,304,217,305,220,302,220,299,222,297,225,296,228,295,231,297,232,298,235,299,238,298,240,295,241,293,243,294,244,295,246,295,251,292,253,289,254,288,256,287,260,287,262,286,262,284,262,281,262,278,263,275,265,274,262,272,261,271,260,270,258,269" href="?location=부산" class="area13 " alt="부산">
			<area shape="poly" onmouseover="changeImg('images/map/map14.gif')" onmouseout="changeImg('images/map/map00.gif')" coords="111,280,109,279,108,280,106,280,104,281,103,281,101,281,100,280,99,280,96,281,96,282,95,283,95,284,94,285,93,288,93,289,93,290,96,292,97,292,100,292,100,292,100,293,101,294,101,295,102,296,105,297,106,297,107,296,109,295,110,294,113,292,116,291,117,289,116,285,116,284,115,283,113,282,113,282,111,280" href="?location=광주" class="area14 " alt="광주">
			<area shape="poly" onmouseover="changeImg('images/map/map15.gif')" onmouseout="changeImg('images/map/map00.gif')" coords="95,272,95,273,96,274,96,275,97,277,97,277,97,279,97,281,96,281,95,280,94,278,93,276,92,274,91,273,88,273,86,273,84,272,83,269,82,268,80,267,79,267,77,267,76,270,75,274,73,278,71,279,71,282,72,284,73,286,69,286,64,286,64,285,61,284,59,286,56,288,53,287,50,287,50,292,52,295,55,296,56,297,57,299,57,303,55,304,52,304,50,306,49,309,49,310,46,313,44,314,45,317,45,321,45,323,46,325,47,327,45,329,45,331,45,332,49,333,52,334,54,335,53,337,51,339,49,343,48,344,45,348,43,352,42,355,40,358,40,360,41,362,42,364,45,366,48,366,51,365,52,364,56,363,59,361,61,360,64,360,65,358,64,356,63,355,62,353,64,352,67,351,70,351,72,350,75,349,78,348,81,350,83,352,84,353,87,354,91,354,93,354,97,356,99,357,103,357,107,356,111,355,116,355,118,356,120,358,125,357,127,354,128,350,128,348,130,348,132,348,136,347,138,345,140,343,143,342,144,342,145,343,146,345,149,346,152,346,153,342,153,340,152,338,151,333,151,331,152,329,156,328,158,329,160,330,163,331,166,331,168,328,168,325,169,323,168,319,168,316,167,314,167,313,166,309,166,306,166,304,166,301,165,300,164,297,162,295,161,294,159,291,157,290,156,288,156,285,155,282,155,279,154,277,152,275,149,274,147,274,143,274,142,276,140,277,136,276,134,275,131,274,129,275,127,276,124,277,122,277,121,274,120,272,118,270,117,269,115,268,113,268,111,266,109,265,106,263,104,263,103,265,100,268,99,270,97,271,96,272,95,272" href="?location=전남" class="area15 " alt="전남">
			<area shape="poly" onmouseover="changeImg('images/map/map16.gif')" onmouseout="changeImg('images/map/map00.gif')" coords="76,380,79,380,83,379,85,379,89,378,91,376,95,376,98,376,102,376,104,375,107,376,109,377,111,378,112,380,112,382,113,385,113,387,111,390,109,391,108,393,106,395,103,396,99,398,97,400,94,402,91,402,88,402,83,402,80,402,79,402,76,403,74,404,71,405,66,403,65,402,63,399,62,396,61,394,61,391,61,389,63,386,65,386,67,386,69,386,71,385,73,384,74,382,75,380" href="?location=제주" class="area16 " alt="제주">
			</map>
		</div>

      </footer>
    </article>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->

<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->

<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <section class="hoc container clear"> 
    <!-- ################################################################################################ -->
    <div class="sectiontitle">
      <h6 class="heading">Volutpat mollis vivamus</h6>
      <p>Pharetra libero non facilisis imperdiet mi augue feugiat.</p>
    </div>
    <ul class="nospace group">
      <li class="one_half first">
        농가 게시판<br>
        <br>1
        <br>2
        <br>3
        <br>4
        <br>5
        <!-- <article class="group">
          <div class="one_half first"><a href="#"><img src="images/demo/320x240.png" alt=""></a></div>
          <div class="one_half">
            <h3 class="heading font-x1">Amet sodales tellus</h3>
            <p>Nisl sit amet mollis enim velit posuere metus nam tempus odio in erat integer ante risus tempor quis ultrices quis [&hellip;]</p>
            <footer><a href="#">Read More &raquo;</a></footer>
          </div>
        </article> -->
      </li>
      <li class="one_half">
        봉사자 게시판
        <!-- <article class="group">
          <div class="one_half first"><a href="#"><img src="images/demo/320x240.png" alt=""></a></div>
          <div class="one_half">
            <h3 class="heading font-x1">Fringilla non augue</h3>
            <p>Et turpis morbi mi neque facilisis sollicitudin faucibus ac primis in faucibus orci luctus et ultrices posuere cubilia [&hellip;]</p>
            <footer><a href="#">Read More &raquo;</a></footer>
          </div>
        </article> -->
      </li>
    </ul>
    <!-- ################################################################################################ -->
    <div class="clear"></div>
  </section>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->

<script type="text/javascript">

function changeImg(img){
 var mapimg = document.getElementById('map');
 mapimg.src = img;
}


</script>
