<div class="wrapper row1">
  <header id="header" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <div id="logo" class="fl_left">
      <h1><a href="/">최종 봉사 농활</a></h1>
    </div>
    <nav id="mainav" class="fl_right">
      <ul class="clear">
        <li class="active"><a href="/">Home</a></li>
        <li><a class="drop" href="#">Pages</a>
          <ul>
            <li><a href="pages/gallery.html">Gallery</a></li>
            <li><a href="pages/full-width.html">Full Width</a></li>
            <li><a href="pages/sidebar-left.html">Sidebar Left</a></li>
            <li><a href="pages/sidebar-right.html">Sidebar Right</a></li>
            <li><a href="pages/basic-grid.html">Basic Grid</a></li>
          </ul>
        </li>
        <li><a class="drop" href="#">구인·구직</a>
          <ul>
            <li><a href="posts#index">게시판</a></li>
            <li><a href="posts/new">Write</a></li>
          </ul>
        </li>
          
        <%if user_signed_in?%>
        <li><a class="drop" href="#"><%=current_user.email%>님</a>
          <ul>
              <li><a href="pages/gallery.html">MyPage</a></li>
              <li><%=link_to 'Logout', destroy_user_session_path, :method => :delete %></li>
            </ul>
        </li>
        <%else%>
          <%= link_to 'Log In', new_user_session_path %>
        <%end%>
      </ul>
    </nav>
    <!-- ################################################################################################ -->
  </header>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper bgded overlay" style="background-image:url('images/demo/backgrounds/main2.jpg');">
  <div id="pageintro" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <article>
      <h2>우리 농활 갈래? 어디서?</h2><br>
      <p>지금 농활정보를 검색하세요!</p>
      
      <footer>
        <form class="form-inline">
          <div class="form-group">
            <input type="text" class="form-control" style="display: inline-block">
          </div>
          <div class="form-group">
            <a class="btn" href="#">Search</a>
          </div>
        </form>
    </footer>
    </article>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->

<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->

<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <section class="hoc container clear"> 
    <!-- ################################################################################################ -->
    <div class="sectiontitle">
      <h6 class="heading">Volutpat mollis vivamus</h6>
      <p>Pharetra libero non facilisis imperdiet mi augue feugiat.</p>
    </div>
    <ul class="nospace group">
      <li class="one_half first">
        농가 게시판<br>
        <br>1
        <br>2
        <br>3
        <br>4
        <br>5
        <!-- <article class="group">
          <div class="one_half first"><a href="#"><img src="images/demo/320x240.png" alt=""></a></div>
          <div class="one_half">
            <h3 class="heading font-x1">Amet sodales tellus</h3>
            <p>Nisl sit amet mollis enim velit posuere metus nam tempus odio in erat integer ante risus tempor quis ultrices quis [&hellip;]</p>
            <footer><a href="#">Read More &raquo;</a></footer>
          </div>
        </article> -->
      </li>
      <li class="one_half">
        봉사자 게시판
        <!-- <article class="group">
          <div class="one_half first"><a href="#"><img src="images/demo/320x240.png" alt=""></a></div>
          <div class="one_half">
            <h3 class="heading font-x1">Fringilla non augue</h3>
            <p>Et turpis morbi mi neque facilisis sollicitudin faucibus ac primis in faucibus orci luctus et ultrices posuere cubilia [&hellip;]</p>
            <footer><a href="#">Read More &raquo;</a></footer>
          </div>
        </article> -->
      </li>
    </ul>
    <!-- ################################################################################################ -->
    <div class="clear"></div>
  </section>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row4">
  <footer id="footer" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <h6 class="heading">Lalapeden</h6>
    <p>Vivamus quis tellus eget quam elementum aliquam cras nibh mi adipiscing a sodales in tincidunt ut enim praesent tempor molestie metus ut pretium odio.</p>
    <ul class="faico clear">
      <li><a class="faicon-facebook" href="#"><i class="fa fa-facebook"></i></a></li>
      <li><a class="faicon-twitter" href="#"><i class="fa fa-twitter"></i></a></li>
      <li><a class="faicon-dribble" href="#"><i class="fa fa-dribbble"></i></a></li>
      <li><a class="faicon-linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
      <li><a class="faicon-google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
      <li><a class="faicon-vk" href="#"><i class="fa fa-vk"></i></a></li>
    </ul>
    <nav>
      <ul class="nospace">
        <li><a href="#"><i class="fa fa-lg fa-home"></i></a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Privacy</a></li>
        <li><a href="#">Disclaimer</a></li>
        <li><a href="#">Cookies</a></li>
      </ul>
    </nav>
    <!-- ################################################################################################ -->
  </footer>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row5">
  <div id="copyright" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <p class="fl_left">Copyright &copy; 2016 - All Rights Reserved - <a href="#">LIKE LION</a></p>
    <p class="fl_right">Template by <a target="_blank" href="https://github.com/sasgaNamabeer/honGchaton" title="Free Website Templates">OS Templates</a></p>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
<!-- JAVASCRIPTS -->